{% extends "base.html" %}
{% load  static %}

{% block title %} Post {% endblock title %}

{% block content %}

{% include "includes/header.html" %}

<div class="row ventana justify-content-center">
    <div class="col-lg-5 col-sm-10 col-md-8 py-2">
        <h1>este es el post.html</h1>

        {% for item in proyectos %}
            <li class="bg-primary-subtle">
                {{item.id}} <br>
                {{item.title}} <br>
                {{item.description}} <br>
                {{item.created}} <br>
                {{item.updated}} <br>
                {% for tag in item.tags.all %}
                    {{tag.name}}
                {% endfor %}
        <br>
                {{item.category}} <br>
                <img src="{{item.image.url}}" alt="" height="200" width="200">

            </li>

        {% endfor %}

    </div>
</div>


{% include "includes/footer.html" %}
{% endblock content %}
